.btn {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background-color: #cccccc;
  color: black;
  transition: all 0.6s;
}

.darkTheme {
  color: white !important;
  background-color: black !important;
}

.darkHeading {
  color: black !important;
}

.github:hover {
  cursor: pointer;
}

.navbar-brand:hover {
  cursor: pointer;
}
